:root {
  --primary-color: #89CFF0; /* Baby blue */
  --secondary-color: #ffffff; /* White */
  --light-color: #ffffff;
  --dark-color: #182027;
  --light-grey: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--light-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--dark-color);
  font-weight: 600;
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.badge-card {
  background-color: var(--light-grey);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.badge-name {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-color);
}

.badge-description,
.badge-hours {
  font-size: 1rem;
  color: var(--dark-color);
}