/* Home.css */
:root {
  --primary-color: #89CFF0; /* Baby blue */
  --secondary-color: #ffffff; /* White */
  --light-color: #ffffff;
  --dark-color: #182027;
  --text-color: #4a4a4a; /* Grey */
}

body {
  color: var(--text-color);
}

.home-header {
  min-height: 100vh;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Main.css */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.container {
  flex: 1;
  background-color: var(--light-color);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(94, 32, 32, 0.1);
  color: var(--text-color);
}

.footer {
  padding: 1rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.display-4 {
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.lead {
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

hr.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: rgba(255, 255, 255, 0.5);
}

.features-section {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--light-color);
}

.feature {
  padding: 1rem;
}

.feature-icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

/* New section styles */
.home-about {
  padding: 3rem 0;
  background-color: var(--secondary-color);
  text-align: center;
}

.home-about h3 {
  margin-bottom: 1.5rem;
}

.home-about p {
  max-width: 800px;
  margin: 0 auto;
  color: #000000 !important; /* Set the color of the paragraph text to black and use !important to give it higher priority */
}

.container .home-about .home-about-text {
  color: #000000 !important; /* Set the color of the paragraph text to black and use !important to give it higher priority */
}

.getting-started-section,
.how-to-stake-section {
  text-align: center;
  padding: 3rem 0;
}

.getting-started-section {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.how-to-stake-section {
  background-color: var(--light-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
}

.connect-wallet-button {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  }
  
  .connect-wallet-button:hover {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  }


